@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   全域基底
   ========================= */
html, body, #root {
  height: 100%;
}
body {
  @apply text-zinc-900 bg-white;
}

/* =========================
   自訂元件
   ========================= */
button {
  @apply transition;
}

/* -------- 加上星空背景 -------- */
.theme-space {
  background-image: url("/pokemon/space-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 視差感 */
}